{% extends "base.html" %}

{% block meta %}
    <title> Experience - {{ name }}</title>
{% endblock meta %}

{% block content %}
<main>
    <section class="experiences">
        <div class="container">
            <h2> ⋆𐙚₊˚⊹♡ Organizational Experience</h2>
            {% for experience in experience_list %}
                <div class="experience-box">
                    <div class="experience-image">
                        <img src="{{ experience.thumbnail }}" alt="{{ experience.title }}">
                    </div>

                    <div class="experience-text">
                        <h3>{{ experience.title }}</h3>

                        <p class="experience-company">
                            {{ experience.category|title }}
                        </p>

                        <p>
                            {{ experience.description }}
                        </p>

                        <p class="experience-status">
                            {% if experience.is_ongoing %}
                                Ongoing
                            {% else %}
                                Completed
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% empty %}
                <p class="empty-state">
                    No experience has been added yet.
                </p>
            {% endfor %}
    </section>
</main>
{% endblock content %}